# Gradle
.gradle/
build/
local.properties

# IDEA/Android Studio ignores
*iml
.idea/*

# IDEA/Android Studio includes
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/codeStyles/
!.idea/encoding.xml
!.idea/copyright/

# Others
captures/

.asciidoctor/

.DS_Store

example-android-app/

# generated

# kotlin-js
kotlin-js-store/

# Editors
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
